@font-face {
    font-family: 'Panton';
    src: url('~assets/fonts/Panton-Regular.eot');
    src: url('~assets/fonts/Panton-Regular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Panton-Regular.woff2') format('woff2'),
        url('~assets/fonts/Panton-Regular.woff') format('woff'),
        url('~assets/fonts/Panton-Regular.ttf') format('truetype'),
        url('~assets/fonts/Panton-Regular.svg#Panton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('~assets/fonts/Panton-SemiBold.eot');
    src: url('~assets/fonts/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Panton-SemiBold.woff2') format('woff2'),
        url('~assets/fonts/Panton-SemiBold.woff') format('woff'),
        url('~assets/fonts/Panton-SemiBold.ttf') format('truetype'),
        url('~assets/fonts/Panton-SemiBold.svg#Panton-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('~assets/fonts/Panton-RegularItalic.eot');
    src: url('~assets/fonts/Panton-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Panton-RegularItalic.woff2') format('woff2'),
        url('~assets/fonts/Panton-RegularItalic.woff') format('woff'),
        url('~assets/fonts/Panton-RegularItalic.ttf') format('truetype'),
        url('~assets/fonts/Panton-RegularItalic.svg#Panton-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* @font-face {
    font-family: 'Panton SemiBold';
    src: url('~assets/fonts/Panton-SemiBoldItalic.eot');
    src: url('~assets/fonts/Panton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Panton-SemiBoldItalic.woff2') format('woff2'),
        url('~assets/fonts/Panton-SemiBoldItalic.woff') format('woff'),
        url('~assets/fonts/Panton-SemiBoldItalic.ttf') format('truetype'),
        url('~assets/fonts/Panton-SemiBoldItalic.svg#Panton-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
} */
